name: Deploy to CapRover (Webhook)

on:
  push:
    branches: [ "main" ]

jobs:
  webhook_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger CapRover Build
        run: |
          curl -X POST "${{ secrets.CAPROVER_WEBHOOK_URL }}"
